body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: white;
  font-family: 'Roboto', sans-serif; }

nav.navigation {
  background-color: #0a1922;
  font-size: 1rem;
  overflow: hidden; }
  nav.navigation a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 1rem; }
    nav.navigation a:hover {
      background-color: #ddd;
      color: black; }
    nav.navigation a.active {
      background-color: #666;
      color: white; }

.page-container {
  display: flex; }
  .page-container .tree-navigation {
    background-color: #f6f8fa;
    flex: 0 1 auto;
    width: 300px;
    min-height: calc(100vh - 51.2px); }
    .page-container .tree-navigation ul, .page-container .tree-navigation li {
      list-style-type: none;
      padding-top: 5px; }
      .page-container .tree-navigation ul a, .page-container .tree-navigation li a {
        text-decoration: none;
        color: black; }
    .page-container .tree-navigation ul {
      padding-left: 20px; }
    .page-container .tree-navigation .caret {
      cursor: pointer;
      user-select: none; }
    .page-container .tree-navigation .caret::before {
      content: "\1F83A";
      color: black;
      display: inline-block;
      margin-right: 5px; }
    .page-container .tree-navigation .caret-down::before {
      content: "\1F83A";
      transform: rotate(90deg); }
    .page-container .tree-navigation .nested {
      display: none; }
    .page-container .tree-navigation .active {
      display: block;
      font-weight: 600; }
  .page-container .navigation-bar {
    padding: 0;
    cursor: ew-resize;
    flex: 0 0 auto; }
    .page-container .navigation-bar::before {
      content: '';
      display: block;
      width: 4px;
      height: 100%;
      margin: 0 auto; }
    .page-container .navigation-bar:hover {
      background-color: #ddd; }
  .page-container .content {
    flex: 1 1 auto;
    padding: 20px; }

@media screen and (max-width: 600px) {
  nav.navigation a {
    float: none;
    width: 100%; }
  .page-container {
    display: block; }
    .page-container .tree-navigation {
      width: 100%; } }
