<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{"css/styles.css" | absURL}}">
    <script src="{{"js/scripts.min.js" | absURL}}"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>{{.Site.Title}}</title>
  </head>
  <body>
    {{ block "header" . }}{{ partial "site-navigation.html" .}}{{ end }}
    
    {{ block "main" . }}
    
    {{ end }}
  </body>
</html>