<!-- For each top level folder-->
<!-- <ul>
	<li><span class="caret"></span><a href="{{ .Permalink }}">{{ .Title }}</a>
		{{ template "tree-navigation" (dict "section" . "ulStyle" "active") }}
		{{ template "current-section-pages" (dict "section" .) }}
	</li>
</ul>

{{ define "tree-navigation" }}
	{{ if gt (len .section.Sections) 0 }}
		<ul class="{{.ulStyle}}">
			{{ range .section.Sections }}
				<li><span class="caret"></span><a href="{{ .Permalink }}">{{ .Title }}</a>
					{{ template "current-section-pages" (dict "section" .) }}
					{{ template "tree-navigation" (dict "section" . "ulStyle" "active") }}
				</li>
			{{ end }}
		</ul>
	{{ end }}
{{end}}

{{ define "current-section-pages" }}
	{{ if gt (len .section.RegularPages) 1 }}
		<ul>
				{{ range .section.RegularPages }}
					<li><a href="{{ .Permalink}}"> {{ .LinkTitle }} </a></li>
				{{ end }}
		</ul>
	{{ end }}
{{ end }} -->


<ul>
    {{ $CurrentTopSection := (.Site.GetPage "section" .Section).CurrentSection }}
    <li><a href="{{ $CurrentTopSection.Permalink }}">{{ $CurrentTopSection.Title }}</a>
    {{ template "render-section" $CurrentTopSection }}
</ul>

{{ define "render-section" }}
    {{ range .Pages }}
        <li>
						{{ if .IsSection }}	
							<span class="caret"></span>
						{{ end }}
						<a href="{{ .Permalink }}">{{ .Title }}</a>

            {{ if .IsSection }}
                <ul>{{ template "render-section" . }}</ul>
            {{ end }}
        </li>
    {{ end }}
{{ end }}